@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Lato:ital,wght@1,300&family=Poppins:wght@300&family=Roboto+Condensed&family=Roboto+Slab:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(235,21%,11%);
}

.title{
  color: white;
  text-align: center;
  margin: 20px;
}

.cont-border{
  margin: 50px 50px;
  border-image: linear-gradient(#c9d0c7, #4c4c8a) 30;
  border-width: 2px;
  border-style: solid;
}

.text{
  color: white;
  margin: 30px 30px;
}
